#activity {
  z-index: 10;
}

.main-activity {
  display: flex;
  flex-direction: row;
}

.filters-side {
  margin-bottom: auto;
  min-width: 130px;
}

div.btn-container-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
}

div.btn-container-center > button, div.btn-container-center > input {
    margin: 0.25rem auto;
}

.fav-add {
  color: black;
  transition: color 0.2s;
}

.fav-add:hover, .fav-add:active {
  color: #2BCEC5;
}

.fav-rem {
  color: #2BCEC5;
  transition: color 0.2s;
}

.fav-rem:hover, .fav-rem:active {
  color: black;
}

#activity-container-outer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#activity-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 10px;
}

#activity-container > div.activity {
  margin: 20px;
}

div.activity-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

div.activity-info-container > p.activity-info {
  font-size: 16px;
  padding: 4px 8px;
  color: #2BCEC5;
  border-color: #2BCEC5;
}

@media(min-width: 917px) {
  #activity-container > div.activity {
    width: 28%;
    min-width: 258px;
  }
}

@media (max-width: 916px) {
  #activity-container > div.activity {
    width: 90%;
    min-width: 272px;
  }
}

@media (max-width: 738px) {
  #activity-container-outer {
    position: relative;
    top: 50px;
  }
  #activity {
    position: absolute;
    top: 5px;
  }
}
