* {
  box-sizing: border-box;
  /*border: 1px dotted black;*/
}

#graph {
  background: #F7F7F7;
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 2vw;
  display: none;
}

canvas {
  margin: auto;
  width: 100%;
}

#child-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}

.child {
  background: white;
  width: 45%;
  margin-top: 2vh;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row wrap;
}

.child h3 {
  margin: 0;
  padding: 0;
}

.child-right {
  text-align: center;
  width: 40%;
  padding: 1vh 1vw;
}

.child-left {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 1vh 1vw;
}

.child-left h3 {
  width: 100%;
}

.child-status-bar {
  height: 2vh;
  min-height: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.child-status {
  height: 100%;
  width:0%;
  border-radius: 20px;
  background-color: rgba(43,206,197, 1);
}
