body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  font-family: 'Helvetica Neue', 'sans-serif';
}

header {
  position: static;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: white;
}

.logo {
  display: inline-block;
  float: left;
  color: #333;
  margin: 25px 0 17px 3.2%;
  letter-spacing: 0.49px;

}

nav {
  display: inline-block;
  float: right;
  margin-top: 18px;
  margin-right: 3.2%;
  letter-spacing: 0.46px;
  width: 800px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #929292;
  margin-right: 3%;
}

nav a:hover {
  color: #333;
}

nav a:before {
  content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #2BCEC5;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.signup {
  border: 2px solid #2BCEC5;
  color: #2BCEC5;
  padding: 10px 28px;
  border-radius: 20px;
}

.banner {
  position: relative;
}

.banner-img {
  width: 100vw;
  background-color: #333;
}

.banner-h1 {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 27%;
  color: white;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: 'Apercu', 'sans-serif';
  font-weight: normal;
}

.browse {
  position: absolute;
  bottom: 35%;
  left: 43%;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.46px;
  color: white;
  border: 2px solid #2BCEC5;
  background-color: #2BCEC5;
  padding: 10px 20px;
  border-radius: 20px;
}

main {
  margin-top: 25px;
}
.mid {
  display: inline-block;
  text-align: center;
  margin: 0 12px 0 auto;
  width: 32%;
  border-left: 1px solid #ACACAC;
}

.mid h3 {
  color: #333;
}

.mid p {
  color: #ACACAC;
}

/*****************UNIVERSAL MODAL CODE*******************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(48, 48, 48, 0.7);
}

.modal-input-box {
  background-color: white;
  width: 450px;
  border-radius: 4px;
  margin: 150px auto;
  padding: 2%;
  line-height: 120%;
}

.legend-container {
  display: flex
}

.legend-container legend {
  margin: auto;
}

label {
  margin-left: 12px;
}

#username, #password, #confirmPassword {
  padding: 10px;
  display: block;
  width: 90%;
  margin-bottom: 10px;
  margin: auto;
}

/*****************GET STARTED MODAL*******************/

#signup-modal {
  overflow: auto;
  display: none;
}

sign-up-form {
  text-align: left;
  color: #333;
}

sign-up-form h2 {
  font-weight: normal;
  text-align: center;
}

#create-account-btn {
  letter-spacing: 0.46px;
  color: white;
  border: 2px solid #2BCEC5;
  background-color: #2BCEC5;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#login-anchor {
  text-decoration: none;
  color: #2BCEC5;
}

.signup-text {
  text-align: center;
}

/**********************LOGIN MODAL*******************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(48, 48, 48, 0.7);
}

#login-modal {
  /*overflow: auto;*/
  /*display: none;*/
}

.modal-input-box {
  background-color: white;
  width: 450px;
  border-radius: 4px;
  margin: 150px auto;
  padding: 2%;
  line-height: 120%;
}
