<form ng-submit="editProfileCtrl.editUsername()">
  <legend>Change your username</legend>
    <label for="username">new username: </label>
    <input id="username" type="text" placeholder="new username" ng-model="editProfileCtrl.newUsername" required/>
    <input type="submit" />
</form>
<br />
<form ng-submit="editProfileCtrl.editPassword()">
  <legend>Change your password</legend>
    <label for="password">New password: </label>
    <input id="password" type="password" ng-model="editProfileCtrl.newPassword" placeholder="new password" required minlength="8" />
    <br />
    <label for="confirmPassword">Confirm new password: </label>
    <input id="confirmPassword" type="password" placeholder="confirm new password" ng-model="editProfileCtrl.confirmNewPassword" required minlength="8"/>
    <br />
    <input type="submit" />
</form>
<p ng-if="editProfileCtrl.displayMessage">{{editProfileCtrl.msgContent}}</p>
Contact GitHub API Training Shop Blog About
