<!--Button to close modal-->
<div>
<a id="loginClose">X</a>
</div>
<!-- Button to close the modal END-->
<form ng-submit="login.submitLogin()">
  <div class="legend-container">
    <legend><h2>Login</h2></legend>
  </div>
  <label for="username">Username:</label>
  <input id="username" type="text" placeholder="username" ng-model="login.username" required/>
  <br/>
  <label for="password">Password:</label>
  <input id="password" type="password" placeholder="password" ng-model="login.password" required min-length="8"/>
  <br/>
  <input ng-click="login.submitLogin()" id="login-btn" type="submit" value="LOGIN"/>
</form>
<p class="modal-text" ng-if="login.showMsg">{{login.msgContent}}</p>
